    body {
      font-family: Arial, sans-serif;
      background: #fafafa;
      margin: 0;
      padding: 0px;
      background: url('../../src/bus5.jpg') center center no-repeat;
      background-size: cover;
      height: 655px;
    }
    
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 40px;
      background: #0097a7;
      border-bottom: 3px solid #0097a7;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
      color: orange;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 25px;
    }

    nav ul li a{
      text-decoration: none;
      color: white;
      font-weight: 500;
    }

    .top-right {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .form-container {
      margin: 100px auto;
      padding: 30px;
      background: white;
      border-radius: 10px;

      max-height: 800px;
      max-width: 800px;
      box-shadow: 0 0 25px rgba(0,0,0,0.2);
      text-align: center;
    }

    .form-container h2 {
      margin-bottom: 20px;
      color: #333;
    }

    form input {
      position: relative;
      left: 75px;
      display: block;
      width: 75%;
      padding: 20px;
      margin: 15px 0;
      border: 1px solid #aaa;
      border-radius: 5px;
    }

    form input:focus{
      outline: none;
    }

    form button {
      width: 75%;
      padding: 15px;
      background: orange;
      border: none;
      color: black;
      font-weight: bold;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    form button:hover {
      background: rgb(184, 120, 2);
    }
    .leaving-now {
      width: 76%;
      position: relative;
      left: 75px;
      background: #f0f3f7;
      padding: 17px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .date-time input {
      position: relative;
      left: 75px;
      display: block;
      width: 75%;
      padding: 20px;
      margin: 10px 0;
      border: 1px solid #aaa;
      border-radius: 5px;
    }
      input.green-shadow {
        box-shadow: inset 0 0 5px 2px green;
      }
      input.red-shadow {
        box-shadow: inset 0 0 5px 2px red;
      }