@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  color: #333;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../src/bus.jpg');
  background-size: cover;
}
.wrapper{
  position: relative;
  max-width: 750px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  /* background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px); */
  padding: 40px 35px 55px;
}
.wrapper h1{
  font-size: 36px;
  color: #7494e3;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.wrapper .input-box{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-box .input-field{
  position: relative;
  width: 48%;
  height: 50px;
  margin: 13px 0px;
}
.input-box .input-field input{
  width: 100%;
  height: 100%;
  color: #333;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
  font-size: 16px;
  padding: 15px 15px 15px 40px;
  background: #eee;
}
.input-box .input-field select{
  width: 100%;
  height: 100%;
  color: #333;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
  font-size: 15px;
  padding: 12px 15px 15px 40px;
  background: #eee;
}
.input-box .input-field input::placeholder{
  color: #888;
}
.input-box .input-field i {
  position: absolute;
  color: black;
  right: 15px;
  top: 98%;
  transform: translateY(-50%);
  font-size: 20px;
}
button{
  width: 100%;
  height: 48px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  background-color: #7494e3;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.lien-con{
  padding-bottom: 15px;
  display: inline-flex;
  margin-top: 25px;
}
.error-message{
  width: 100%;
  height: 100%;
  color: red;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
  font-size: 15px;
  padding: 12px 15px 15px 40px;
  background: #f8d7da;
}